body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(255, 230, 100, 0.15);
}

.barra-topo {
top: 0;
left: 0;
right: 0;
background-color: #cbb873;
color: white;
padding: 1rem 2rem;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 1000;
}

.titulo-site {
font-size: 2rem;
font-weight: bold;
color: white;
text-decoration: none;
}

.menu-links a {
color: white;
text-decoration: none;
margin-left: 1rem;
padding: 0.5rem 1rem;
border-radius: 5px;

}

.menu-links a:hover {
background-color: #bfa75a;
}

.menu-links a.ativo {
background-color: #bfa75a;
color: black;
}

.apresentacao {
padding: 2rem 2rem 3rem;
text-align: center;
max-width: 1200px;
margin: 0 auto;
}

.apresentacao-fundo{
  background-color: rgba(255, 215, 90, 0.1);
}
  
.conteudo-apresentacao {
display: flex;
justify-content: space-between;
align-items: center;
}

.texto-apresentacao {
flex: 1;
padding-right: 2rem;
text-align: left;

}

.texto-apresentacao h1 {
font-size: 2.5rem;
font-weight: 700;
margin-bottom: 1rem;
line-height: 1.3;
}

.texto-apresentacao p {
font-size: 1.1rem;
line-height: 1.6;
color: #444;
margin-bottom: 1.5rem;
}

.mais{
  border-top: 6px solid white;
}

.mais h2 {
text-align: center;
font-size: 1.5rem;
color: black;
margin-top: 1.5rem;
}

.imagem {
flex: 1;
max-width: 500px;
padding-left: 2rem;
text-align: center;
}

.imagem img {
width: 100%;
border-radius: 8px;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.cartoes-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0rem 2rem 6.5rem;
  flex-wrap: wrap;
  }
  
  .cartao {
  position: relative;
  width: 250px;
  height: 250px;
  text-decoration: none;
  color: white;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .cartao:hover {
    transform: scale(1.03);
  }
  
  .cartao:nth-child(1) {
  background-color: rgba(255, 105, 105, 0.5); 
  }
  
  .cartao:nth-child(2) {
  background-color: rgba(50, 100, 200, 0.5); 
  }
  
  .cartao:nth-child(3) {
  background-color: rgba(0, 180, 150, 0.5);
  }
  .cartao:nth-child(4) {
    background-color: rgba(255, 140, 0, 0.7);
  }
  
  .cartao:hover:nth-child(1) {
    background-color: rgba(255, 105, 105, 1); 
  }
  
  .cartao:hover:nth-child(2) {
    background-color: rgba(50, 100, 200, 1);
   }
    
  .cartao:hover:nth-child(3) {
    background-color: rgba(0, 180, 150, 1);
  }
  
  .cartao:hover:nth-child(4) {
    background-color: rgba(255, 140, 0, 1);
  }
  
  .sobreposicao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  }
  
  
  .sobreposicao h2 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  }
  
  .sobreposicao p {
  font-size: 0.9rem;
  }
  

.rodape {
  background-color: #cbb873;

  color: white;
  padding: 2rem 0;
  text-align: center;
}

.rodape .informacoes p {
  margin: 0;
  font-size: 1rem;
}

.rodape .redes-sociais {
  margin: 1rem 0;
}

.rodape .social-icon {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.rodape .social-icon:hover:nth-child(1) {
  color: rgba(255, 105, 105); 
}
.rodape .social-icon:hover:nth-child(2) {
  color: rgba(50, 100, 200);
}
.rodape .social-icon:hover:nth-child(3) {
  color: rgba(0, 180, 150, 0.5);
}

.rodape .contacto p {
  margin-top: 1rem;
  font-size: 1rem;
}

.rodape .contacto a {
  color: white;
  text-decoration: none;
}

.rodape .contacto a:hover {
  text-decoration: underline;
}
